*.jpg
*.png
*.jpeg

*.pt
*.tar.gz
sample.html

.venv/
__pycache__/
.torch_cache/
SLURM_scripts/
*.out
*.err

raw_aircraft.txt
raw_airlines.txt

new_airlines_discovered.csv
new_models_discovered.csv

fgvc-aircraft-2013b/

!sample1.png
!sample2.png
!sample3.png
!sample4.png
!sample5.png
!sample6.png