pandas==2.3.2
matplotlib==3.10.7
seaborn==0.13.2
PyYAML==6.0.3
beautifulsoup4==4.15.0
undetected-chromedriver==3.5.5
curl-cffi==0.15.0
selenium==4.45.0
torch==2.9.0
torchvision==0.24.0
numpy==2.2.6
natsort==8.4.0
pillow==11.3.0
scikit-learn==1.7.2
tqdm==4.67.1